/* You can add global styles to this file, and also import other style files */
.tab{
    padding: 55px 406px;
}
.form{
    background: #ededed;
    padding: 19px 18px;
    border-radius: 5px;
}
@media screen and (max-width: 320px) {
    .tab{
        padding: 0px 0px;
    }
  }
@media screen and (max-width: 480px) {
    .tab{
        padding: 0px 0px;
    }
  }
@media screen and (max-width: 600px) {
    .tab{
        padding: 0px 0px;
    }
  }
@media screen and (max-width: 992px) {
    .tab{
        padding: 0px 0px;
    }
  }